body {
    color: hotpink;
}

.food-description {
    padding-right: 5%;
    padding-left: 15%;
}

.title h2 {
    font-weight: bold;
    font-size: 130%;
    padding-bottom: 1%;
}

.description h2 {
    font-size: 100%;
    padding-bottom: 1%;
}

.price h2{
    font-size: 95%;
    padding-top: 3%;
}

.food-img img {
    height: 90%; 
    width: 150%;
    padding-left: 15%; 
    padding-right: 10%; 
    border-radius: 25%;
}

.menu-items {
    padding-bottom: 8%;
}


